* {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

body {
  text-align: center;
}

button {
  width: 50px;
  height: 50px;
}
